.row
  .span3.bs-docs-sidebar
    %h2 Views
    %ul.nav.nav-list.bs-docs-sidenav
      %li=link_to 'san', san_infras_path
      %li.active=link_to 'wwpn', wwpns_path
  .span9
    %h2 Advanced search
    = search_form_for @search, :url=> search_wwpns_path, :html => {:class => "form-inline"}, method: :post do |f|
      = f.condition_fields do |c|
        = render "condition_fields", f: c
      = link_to_add_fields "Add Conditions", f, :condition
      .form-actions
        =f.submit "Search", :class => "btn btn-success"
        =f.submit "Excel Export", :class => "btn btn-warning", :name => 'export'
        = link_to "Reset", san_infras_path({:clear => 'yes'}), :class => "btn btn-primary"
.row
  .span12
    %table{ :id => "wwpn_datatable", :class => "table table-striped", :data => { :source => "#{ aix_wwpns_url(format: "json") }" } }
      %thead
        %tr
          %th wwpn
          %th customer
          %th hostname
          %th date
          %th os version
          %th adapter
          %th sdd driver
      %tbody
