- model_class = ImportReport
.row
.span12
  .page-header
    %h1 Import Report
  %table.table.table-striped.table-bordered#reports
    %thead
      %tr
        %th filename
        %th status
        %th success count
        %th error count
        %th date
    %tbody
      %tr
        %td= @import_report.filename
        %td= @import_report.result
        %td= @import_report.success_count
        %td= @import_report.error_count
        %td= @import_report.created_at.to_formatted_s(:db)
  %h1 Output
  %p= @import_report.output
