.field
  = f.attribute_fields do |a|
    = a.attribute_select associations: [:aix_ports, :aix_paths, :healthchecks]
  = f.predicate_select only: [:cont, :not_cont, :eq, :not_eq], compounds: false
  = f.value_fields do |v|
    = v.text_field :value
  = link_to "remove", '#', class: "remove_fields btn btn-danger"
