%h2 lpar
- unless @server.lparstat.nil? 
  %table.table.table-bordered
    %tbody
      %tr
        %td
          type
        %td
          = @server.lparstat.lpar_type
      %tr
        %td
          partition name
        %td
          = @server.lparstat.partition_name
      %tr
        %td
          virtual cpu
        %td
          = @server.lparstat.online_virtual_cpus
      %tr
        %td
          entitled capacity
        %td
          = @server.lparstat.entitled_capacity
      %tr
        %td
          memory
        %td
          = @server.lparstat.online_memory
- else
  %p No lpar informations available