- unless @server.lparstat.nil?
  %h2 lpar
  %table.table.table-bordered
    %thead
      %tr
        %th partition
        %th type
        %th mode
        %th vcpu
        %th EC
        %th mem

    %tbody
      %tr
        %td= @server.lparstat.partition_name
        %td= @server.lparstat.lpar_type
        %td= @server.lparstat.mode
        %td= @server.lparstat.online_virtual_cpus
        %td= @server.lparstat.entitled_capacity
        %td= @server.lparstat.online_memory
  %h2 detailed
  %table.table.table-bordered
    %thead
      %tr
        %th name
        %th value
    %tbody
      - for column in Lparstat.column_names - ['id', "created_at", "updated_at", "server_id" ]
        %tr
          %td=column
          %td=@server.lparstat.send(column)
