%h2 release
%table.table.table-bordered
  %tbody
    %tr
      %td
        %strong customer
      %td
        = @server.customer
    %tr  
      %td
        %strong operating system
      %td  
        = @server.os_type
    %tr
      %td
        %strong version
      %td
        = @server.os_version
    %tr  
      %td
        %strong installation date
      %td
        = @server.install_date
    %tr
      %td
        %strong image
      %td
        = @server.global_image