- unless @server.wwpns.empty?
  %h2 SAN Information
  %h3 fibre channel adapters
  - if @server.os_type == "Linux"
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th name
          %th brand
          %th model
          %th type
          %th speed
          %th slot
          %th driver
          %th wwpn
      %tbody
        - @server.wwpns.each do |wwpn|
          %tr
            %td= wwpn.linux_port.name
            %td= wwpn.linux_port.brand
            %td= wwpn.linux_port.card_model
            %td= wwpn.linux_port.card_type
            %td= wwpn.linux_port.speed
            %td= wwpn.linux_port.slot
            %td= wwpn.linux_port.driver
            %td= wwpn.wwpn
  - if @server.os_type == "AIX"
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th port
          %th wwpn
          %th infra
          %th fabric
          %th switch
          %th port
          %th portname
          %th speed
          %th status
      %tbody
        - @server.wwpns.each do |wwpn|
          %tr
            %td= wwpn.aix_port.name
            %td= wwpn.wwpn
            - if wwpn.san_infra.nil?
              %td NF
              %td NF
              %td NF
              %td NF
              %td NF
              %td NF
              %td NF
            -else
              - san_infra = wwpn.san_infra
              %td= san_infra.infra
              %td= san_infra.fabric
              %td= san_infra.switch
              %td= san_infra.port
              %td= san_infra.portname
              %td= san_infra.speed
              %td= san_infra.status
  - unless @server.aix_paths.empty?
    %h3 san paths
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th path id
          %th adapter
          %th state
          %th mode
      %tbody
        - @server.aix_paths.each do |aix_path|
          %tr
            %td= aix_path.path
            %td= aix_path.adapter
            %td= aix_path.state
            %td= aix_path.mode
