- unless @server.wwpns.empty?
  %h2 SAN Information
  %h3 fibre channel adapters
  - unless @server.linux_ports.empty?
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th name
          %th brand
          %th model
          %th type
          %th speed
          %th slot
          %th driver
          %th wwpn
      %tbody
        - @server.linux_ports.each do |linux_port|
          %tr
            %td= linux_port.name
            %td= linux_port.brand
            %td= linux_port.card_model
            %td= linux_port.card_type
            %td= linux_port.speed
            %td= linux_port.slot
            %td= linux_port.driver
            - unless linux_port.wwpn.nil?
              %td= linux_port.wwpn.wwpn
            - else
              %td N/F
  - unless @server.aix_ports.empty?
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th port
          %th wwpn
          %th infra
          %th fabric
          %th switch
          %th port
          %th portname
          %th speed
          %th status
      %tbody
        - @server.aix_ports.each do |aix_port|
          %tr
            %td= aix_port.port
            - if aix_port.wwpn.nil?
              %td NF
              %td NF
              %td NF
              %td NF
              %td NF
              %td NF
              %td NF
              %td NF
            - else
              %td= aix_port.wwpn.wwpn
              - if aix_port.wwpn.san_infra.nil?
                %td NF
                %td NF
                %td NF
                %td NF
                %td NF
                %td NF
                %td NF
              -else
                - san_infra = aix_port.wwpn.san_infra
                %td= san_infra.infra
                %td= san_infra.fabric
                %td= san_infra.switch
                %td= san_infra.port
                %td= san_infra.portname
                %td= san_infra.speed
                %td= san_infra.status
  - unless @server.aix_paths.empty?
    %h3 san paths
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th path id
          %th adapter
          %th state
          %th mode
      %tbody
        - @server.aix_paths.each do |aix_path|
          %tr
            %td= aix_path.path
            %td= aix_path.adapter
            %td= aix_path.state
            %td= aix_path.mode
