.row
  .span3.bs-docs-sidebar
    %h2 Views
    %ul.nav.nav-list.bs-docs-sidenav
      %li.active=link_to 'servers', servers_path
      %li=link_to 'hardwares', hardwares_path
      %li=link_to 'partitions', lparstats_path
  .span9
    %h2 Advanced search
    = search_form_for @search, :url=> search_servers_path, :html => {:class => "form-inline"}, method: :post do |f|
      = f.condition_fields do |c|
        = render "condition_fields", f: c
      = link_to_add_fields "Add Conditions", f, :condition
      .form-actions
        =f.submit "Search", :class => "btn btn-success"
        =f.submit "Excel Export", :class => "btn btn-warning", :name => 'export'
        = link_to "Reset", servers_path({:clear => 'yes'}), :class => "btn btn-primary"
.row
  .span12
    %table{ :id => "srv_datatable", :class => "table table-striped", :data => { :source => "#{ servers_url(format: "json") }" } }
      %thead
        %tr
          %th customer
          %th hostname
          %th OS type
          %th OS version
          %th run date
      %tbody
