.row-fluid
  .span2.bs-docs-sidebar
    #sidemenu.affix
      %h2= @server.hostname
      %span.label.label-info run date
      %strong= @server.run_date
      %ul.nav.nav-list.bs-docs-sidenav

      %br
      = link_to 'back', :back, :class => "btn btn-primary"
      - if current_user.role == "admin"
        = link_to 'edit', edit_server_path(@server), :class => "btn btn-danger"
  .span10
    %ul.nav.nav-tabs
      %li.tabtext.active=link_to "Release", load_tab_server_path(id: @server, tab: "release"), :remote => true
      - unless @server.lparstat.blank?
        %li.tabtext=link_to "lpar", load_tab_server_path(id: @server, tab: "lpar"), :remote => true
      - unless @server.volume_groups.blank?
        %li.tabtext=link_to "volume groups", load_tab_server_path(id: @server, tab: "volume_groups"), :remote => true
      - unless @server.file_systems.blank?
        %li.tabtext=link_to "filesystems", load_tab_server_path(id: @server, tab: "filesystems"), :remote => true
      - unless @server.ip_addresses.blank?
        %li.tabtext=link_to "ip addresses", load_tab_server_path(id: @server, tab: "ip_address"), :remote => true
      %li.tabtext=link_to "hardware", load_tab_server_path(id: @server, tab: "hardware"), :remote => true
      - unless @server.wwpns.blank?
        %li.tabtext=link_to "san", load_tab_server_path(id: @server, tab: "san"), :remote => true
      %li.tabtext=link_to "properties", load_tab_server_path(id: @server, tab: "properties"), :remote => true
      - unless @server.linux_security_fixes.blank?
        %li.tabtext=link_to "security", load_tab_server_path(id: @server, tab: "linux_sec_fix"), :remote => true
    #tab-content
      = render partial: 'release_tab'







