.row
  .span3.bs-docs-sidebar
    %h2 Views
    %ul.nav.nav-list.bs-docs-sidenav
      %li.active=link_to 'san', san_infras_path
      %li=link_to 'wwpn', wwpns_path
  .span9
    %h2 Advanced search
    = search_form_for @search, :url=> search_san_infras_path, :html => {:class => "form-inline"}, method: :post do |f|
      = f.condition_fields do |c|
        = render "condition_fields", f: c
      = link_to_add_fields "Add Conditions", f, :condition
      .form-actions
        =f.submit "Search", :class => "btn btn-success"
        =f.submit "Excel Export", :class => "btn btn-warning", :name => 'export'
        = link_to "Reset", san_infras_path({:clear => 'yes'}), :class => "btn btn-primary"
.row
  .span12        
    %table{ :id => "san_datatable", :class => "table table-striped", :data => { :source => "#{ san_infras_url(format: "json") }" } }
      %thead
        %tr
          %th infra
          %th fabric
          %th switch
          %th speed
          %th status
          %th portname
          %th mode
          %th action
      %tbody
  = render 'modal_wwpns'