.row
  .span3.bs-docs-sidebar
    %h2 Views
    %ul.nav.nav-list.bs-docs-sidenav
      %li=link_to 'servers', servers_path
      %li.active=link_to 'hardwares', hardwares_path
      %li=link_to 'partitions', lparstats_path
  .span9
    %h2 Advanced search
    = search_form_for @search, :url=> search_hardwares_path, :html => {:class => "form-inline"}, method: :post do |f|
      = f.condition_fields do |c|
        = render "condition_fields", f: c
      = link_to_add_fields "Add Conditions", f, :condition
      .form-actions
        = f.submit "Search", :class => "btn btn-success"
        = link_to "Excel Export", hardwares_path(:format => :xlsx), :class => "btn btn-warning"
        = link_to "Reset", hardwares_path({:clear => 'yes'}), :class => "btn btn-primary"
.row
  .span12
    %table{ :id => "hw_datatable", :class => "table table-striped", :data => { :source => "#{ hardwares_url(format: "json") }" } }
      %thead
        %tr
          %th customer
          %th model
          %th serial #
          %th firmware
          %th recommended firmware
          %th partitions count
      %tbody
