- model_class = Firmware
.row
  .span12
    .page-header
      %h1 FIRMWARES

.row
  .span9.offset2
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th= model_class.human_attribute_name(:model)
          %th= model_class.human_attribute_name(:recommended)
          - if can? :manage, Firmware
            %th=t '.actions', :default => t("helpers.actions")
      %tbody
        - @firmwares.each do |firmware|
          %tr
            %td= firmware.model
            %td= firmware.recommended
            - if can? :manage, Firmware
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), edit_firmware_path(firmware), :class => 'btn btn-mini'
                = link_to t('.destroy', :default => t("helpers.links.destroy")), firmware_path(firmware), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

    - if can? :manage, Firmware
      = link_to t('.new', :default => t("helpers.links.new")), new_firmware_path, :class => 'btn btn-primary'
