= simple_form_for @report do |f|
  = hidden_field_tag "report[report_type]", 'san'
  = render partial: 'form_header', locals: {f: f}

  = render partial: 'report_scope', locals: { report: @report}

  %h1 Fields in report
  .row-fluid
    .span4
      = render partial: 'report_fields', locals: {report: @report}
    .span8
      %h2.ui-widget-header
        available fields
      .ui-widget-content
        %ul
          = render partial: 'server_columns'
          = render partial: 'server_attribute_columns'
          = render partial: 'san_infra_columns'
          = render partial: 'linux_port_columns'
= link_to "back", reports_path, class: "btn btn-warning"
